# MySql

##### Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized and stored for efficient retrieval, manipulation, and management. It serves as a central repository for various types of data, allowing users and applications to store, retrieve, and interact with information.
1. SQL (Structured Query Language) Databases:
    * Relational databases that use structured data with predefined schemas.
    * Data is organized into tables with rows and columns.
    * Ensures data integrity through constraints and relationships.
    * Examples: MySQL, PostgreSQL, SQLite, Oracle.
2. NoSQL (Not Only SQL) Databases:
    * Non-relational databases that handle unstructured or semi-structured data.
    * Data is stored in flexible formats like documents, key-value pairs, graphs, or wide-column stores.
    * Scales horizontally and can handle large amounts of data.
    * Examples: MongoDB, Cassandra, Redis, Couchbase.

##### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a subset of SQL used to manage the structure of a database.
* CREATE: Used to create new database objects such as tables, views, or indexes. Example: CREATE TABLE Students (id INT, name VARCHAR(50));
* DROP: Used to delete existing database objects. Example: DROP TABLE Students;
* ALTER: Used to modify the structure of an existing database object. Example: ALTER TABLE Students ADD COLUMN age INT;
* TRUNCATE: Used to delete all rows from a table, but the table structure remains intact. Example: TRUNCATE TABLE Students;

##### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is used to manipulate the data within a database.
* INSERT: Used to insert new records into a table. Example: INSERT INTO Students (id, name, age) VALUES (1, 'John', 25);
* UPDATE: Used to modify existing records in a table. Example: UPDATE Students SET age = 26 WHERE id = 1;
* DELETE: Used to remove records from a table. Example: DELETE FROM Students WHERE age > 30;

##### Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is used to retrieve data from a database.
* SELECT: Used to retrieve data from one or more tables based on specified conditions. Example: SELECT name, age FROM Students WHERE age > 20;

##### Q5. Explain Primary Key and Foreign Key.

1. Primary Key: A primary key is a unique identifier for each record in a table. It ensures data integrity and enforces uniqueness.
2. Foreign Key: A foreign key is a field that establishes a link between two tables. It refers to the primary key of another table, creating a relationship between them.

##### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [1]:
print ("Error is due to know sql is there to connect to")
import mysql.connector
# Connection to MySQL server
connection = mysql.connector.connect(host="localhost", user="username", password="password", database="mydatabase")
# Cursor object to interact with the database
cursor = connection.cursor()
# Execute SQL queries
cursor.execute("SELECT * FROM Students;")
result = cursor.fetchall()
for row in result:
    print(row)
# Close the cursor and connection
cursor.close()
connection.close()

Error is due to know sql is there to connect to

ModuleNotFoundError: No module named 'mysql'

* cursor(): Creates a cursor object that allows executing SQL queries and fetching results.
* execute(query): Executes the SQL query passed as an argument.

##### Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:
1. SELECT
2. FROM
3. JOIN
4. WHERE
5. GROUP BY
6. HAVING
7. ORDER BY
8. LIMIT