# Pandas Basic

##### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd
data = [4,8,15,16,23,42]
s = pd.Series(data)
print(s)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

##### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [2]:
import pandas as pd
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
my_series = pd.Series(my_list)
print(my_series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

##### Q3. Create a Pandas DataFrame that contains the following data:
Then, print the DataFrame.

In [3]:
import pandas as pd
t = {'Name' :['Alice', 'Bob', 'Claire'], 'Age':['25','30','27'], 'Gender':['Female', 'Male', 'Female']}
df = pd.DataFrame(t)
df.head()

     Name Age  Gender
0   Alice  25  Female
1     Bob  30    Male
2  Claire  27  Female

##### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A DataFrame in Pandas is a two-dimensional labeled data structure with columns that can hold data of various types, similar to a table in a relational database or a spreadsheet. It is one of the core data structures in Pandas and is particularly useful for analyzing and manipulating tabular data.

A Pandas Series, on the other hand, is a one-dimensional labeled array that can hold data of any type. It can be thought of as a single column of a DataFrame.

In [4]:
import pandas as pd
# DataFrame
t = {'Name' :['Alice', 'Bob', 'Claire'], 'Age':['25','30','27'], 'Gender':['Female', 'Male', 'Female']}
df = pd.DataFrame(t)
print("DataFrame:",df)
# Pandas Series
ages = pd.Series([25, 30, 27], name='Age')
print("\nSeries:")
print(ages)

DataFrame:      Name Age  Gender
0   Alice  25  Female
1     Bob  30    Male
2  Claire  27  Female

Series:
0    25
1    30
2    27
Name: Age, dtype: int64

##### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Some common functions for data manipulation in a Pandas DataFrame include:
* head(): Returns the first n rows of the DataFrame.
* tail(): Returns the last n rows of the DataFrame.
* info(): Provides information about the DataFrame, including data types and non-null counts.
* describe(): Generates summary statistics of numeric columns.
* groupby(): Groups the DataFrame by one or more columns and allows aggregation operations.

In [5]:
import pandas as pd
# Creating a DataFrame
t = {'Name' :['Alice', 'Bob', 'Claire'], 'Age':['25','30','27'], 'Gender':['Female', 'Male', 'Female']}
df = pd.DataFrame(t)
# Using describe() to get summary statistics
print(df.describe())
# Using groupby() and mean() to get average age by gender
avg_age_by_gender = df.groupby('Gender')['Age'].mean()
print(avg_age_by_gender)

         Name Age  Gender
count       3   3       3
unique      3   3       2
top     Alice  25  Female
freq        1   1       2
Gender
Female    1263.5
Male        30.0
Name: Age, dtype: float64

##### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas, both Series and DataFrame are mutable in nature. This means that we can modify their values, add or remove rows and columns, and perform various data manipulation operations.

However, please note that the Pandas Panel, which was a three-dimensional data structure in earlier versions of Pandas, has been deprecated and removed in recent versions. Multi-dimensional data is now typically handled using MultiIndex DataFrames or other structures.

##### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [6]:
import pandas as pd
n = pd.Series(['Alice', 'Bob', 'Claire'])
a = pd.Series([25, 30, 27])
g = pd.Series(['Female', 'Male', 'Female'])
df = pd.DataFrame({'Name': n,'Age': a,'Gender': g})
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female