# Pandas Advance 1

##### Q1. List any five functions of the pandas library with execution.

1. read_csv(): Read a CSV file into a DataFrame.
2. head(): Display the first few rows of the DataFrame.
3. groupby(): Group data based on a specific column and perform aggregate functions.
4. fillna(): Replace missing values with a specific value or strategy.
5. merge(): Merge two DataFrames based on a common column or index.

##### Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [1]:
import pandas as pd
df = pd.DataFrame({'A':[1,2,3], 'B':[1,2,3], 'C':[1,2,3]})
print(df)
newindex = pd.RangeIndex(start=1, stop=len(df)*2, step=2)
df.index = newindex
print('After Reindexing\n',df)

   A  B  C
0  1  1  1
1  2  2  2
2  3  3  3
After Reindexing
    A  B  C
1  1  1  1
3  2  2  2
5  3  3  3

##### Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [2]:
import pandas as pd
df = pd.DataFrame({'Value':[10,20,30,40,50]})
sum_of = df['Value'].head(3).sum()
print('Sum of first 3 values of column is:',sum_of)

Sum of first 3 values of column is: 60

##### Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [3]:
import pandas as pd
df = pd.DataFrame({'Text':['Hi I am Good','You say about any topic','Like Data Science']})
df['Word_Count'] = df['Text'].apply(lambda t: len(t.split()))
df.head()

                      Text  Word_Count
0             Hi I am Good           4
1  You say about any topic           5
2        Like Data Science           3

##### Q5. How are DataFrame.size() and DataFrame.shape() different?

* DataFrame.size() returns the total number of elements (cells) in the DataFrame. 
* DataFrame.shape() returns a tuple representing the dimensions of the DataFrame (number of rows, number of columns).

##### Q6. Which function of pandas do we use to read an excel file?

The function to read an Excel file in pandas is pd.read_excel().

##### Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.
##### The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

In [4]:
import pandas as pd
df = pd.DataFrame({'Email':['john.doe@example.com','piyushmishra@salesken.ai','piyumishra@gmail.com']})
df['Username'] = df['Email'].apply(lambda u: u.split('@')[0])
df.head()

                      Email      Username
0      john.doe@example.com      john.doe
1  piyushmishra@salesken.ai  piyushmishra
2      piyumishra@gmail.com    piyumishra

##### Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:

A B C

0 3 5 1

1 8 2 7

2 6 9 4

3 2 3 5

4 9 1 2

Your function should select the following rows: A B C

1 8 2 7

4 9 1 2

The function should return a new DataFrame that contains only the selected rows.

In [5]:
import pandas as pd
df = pd.DataFrame({'A':[3,8,6,2,9], 'B':[5,2,9,3,1], 'C':[1,7,4,5,2]})
print(df.head())
row = df[(df['A']>5)&(df['B']<10)]
print("Selected rows are:\n",row)

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2
Selected rows are:
    A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

##### Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [6]:
import pandas as pd
df=pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
print('Mean is',df['Values'].mean())
print('Median is',df['Values'].median())
print('St_dev is',df['Values'].std())

Mean is 30.0
Median is 30.0
St_dev is 15.811388300841896

##### Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [7]:
import pandas as pd
df = pd.DataFrame({'Date':pd.date_range('2023-08-10', periods=10, freq='D'), 'Sales':[34,23,45,38,35,43,65,98,77,42]})
df['Moving_avg'] = df['Sales'].rolling(window = 7, min_periods = 1).mean()
print(df.head(10))

        Date  Sales  Moving_avg
0 2023-08-10     34   34.000000
1 2023-08-11     23   28.500000
2 2023-08-12     45   34.000000
3 2023-08-13     38   35.000000
4 2023-08-14     35   35.000000
5 2023-08-15     43   36.333333
6 2023-08-16     65   40.428571
7 2023-08-17     98   49.571429
8 2023-08-18     77   57.285714
9 2023-08-19     42   56.857143

##### Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:

Date

0 2023-01-01

1 2023-01-02

2 2023-01-03

3 2023-01-04

4 2023-01-05

Your function should create the following DataFrame:

Date Weekday

0 2023-01-01 Sunday

1 2023-01-02 Monday

2 2023-01-03 Tuesday

3 2023-01-04 Wednesday

4 2023-01-05 Thursday

The function should return the modified DataFrame.

In [8]:
import pandas as pd
df = pd.DataFrame({'Date':pd.date_range('2023-08-10', periods=10, freq='D')})
df['Weekday'] = df['Date'].dt.strftime('%A')
df.head(10)

        Date    Weekday
0 2023-08-10   Thursday
1 2023-08-11     Friday
2 2023-08-12   Saturday
3 2023-08-13     Sunday
4 2023-08-14     Monday
5 2023-08-15    Tuesday
6 2023-08-16  Wednesday
7 2023-08-17   Thursday
8 2023-08-18     Friday
9 2023-08-19   Saturday

##### Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [9]:
import pandas as pd
df = pd.DataFrame({'Date':pd.date_range('2023-01-01', periods=50, freq='D')})
row = df[(df['Date']>= '2023-01-01') & (df['Date']<= '2023-01-31')]
print(row)

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

##### Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

In [10]:
# The library that needs to be imported to use the basic functions of Pandas is the Pandas library
import pandas as pd