# Pandas Advance-2

### Consider following code to answer further questions:

In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df.head()

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

#### Q1. Write a code to print the data present in the second row of the dataframe, df.

In [2]:
print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

#### Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

* loc is label-based indexing and allows us to access a group of rows and columns by labels or a boolean array.
* iloc is integer-based indexing and allows us to access a group of rows and columns by integer positions. 

For example, df.loc[1] would access the row with label 1, while df.iloc[1] would access the row at the integer position 1.

#### Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].
Did you observe any difference in both the outputs? If so then explain it.

In [3]:
reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)
print(new_df.loc[2])
print(new_df.iloc[2])

course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

The output of new_df.loc[2] will be the third row of the original DataFrame df, but rearranged based on the reindexing. 

The output of new_df.iloc[2] will be the second row of the original DataFrame df, but rearranged based on the reindexing.

### Consider the below code to answer further questions:

In [4]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1.head()

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.840537  0.478352  0.748003  0.469309  0.359346  0.118438
2  0.335027  0.823405  0.007800  0.015915  0.205406  0.467395
3  0.914519  0.327470  0.030469  0.968189  0.729180  0.893181
4  0.439682  0.626359  0.782057  0.091943  0.941698  0.956879
5  0.427230  0.236051  0.625845  0.797546  0.514798  0.291707

#### Q4. Write a code to find the following statistical measurements for the above dataframe df1:
1. mean of each and every column present in the dataframe.
2. standard deviation of column, ‘column_2’

In [5]:
print(df1.mean())
print('standard deviation of column_2 =',df1['column_2'].std())

column_1    0.650839
column_2    0.533299
column_3    0.384531
column_4    0.399858
column_5    0.547121
column_6    0.592567
dtype: float64
standard deviation of column_2 = 0.22677678197597442

##### Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2. If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [6]:
# Assuming we are replacing the value with a string 'Not Applicable'
df1.loc[2, 'column_2'] = 'Not Applicable'
mean_column_2 = df1['column_2'].mean()
print(mean_column_2)
# We will get an error here because you can't calculate the mean of a column containing string values.

TypeError: unsupported operand type(s) for +: 'float' and 'str'

#### Q6. What do you understand about the windows function in pandas and list the types of windows functions?

Window functions in pandas allow us to perform calculations across a specified range of rows related to the current row. Some common window functions include:
* rolling(): Used for moving window calculations, e.g., rolling mean, rolling sum.
* expanding(): Used for expanding window calculations, e.g., cumulative sum, cumulative max.
* ewm(): Exponential Moving Window, used for calculating exponentially weighted statistics.

####  Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [7]:
import pandas as pd
current_date = pd.to_datetime('today')
print("Current month:", current_date.month)
print("Current year:", current_date.year)

Current month: 8
Current year: 2023

#### Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [8]:
from datetime import datetime
import pandas as pd
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")
diff = datetime.strptime(date2, '%Y-%m-%d') - datetime.strptime(date1, '%Y-%m-%d')
print("Difference in days:",diff.days ,"\nDifference in hours:",diff.days*24 ,"\nDifference in minutes:",diff.days*24*60)

Enter the first date (YYYY-MM-DD):  1997-06-12
Enter the second date (YYYY-MM-DD):  2023-08-21

Difference in days: 9566
Difference in hours: 229584
Difference in minutes: 13775040

#### Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd
file_path = input("Enter the file path of the CSV file: ")
column_name = input("Enter the column name to convert to categorical: ")
category_order = input("Enter the desired category order (comma-separated): ").split(',')
# Read CSV file into DataFrame
df = pd.read_csv(file_path)
# Convert specified column to categorical data type with given category order
df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)
# Display sorted data
sorted_df = df.sort_values(by=column_name)
print(sorted_df)

#### Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
file_path = input("Enter the file path of the CSV file: ")
# Read CSV file into DataFrame
df = pd.read_csv(file_path)
# Group by product category and visualize using a stacked bar chart
df.groupby('Product Category').plot(kind='bar', stacked=True)
plt.xlabel('Time')
plt.ylabel('Sales')
plt.title('Sales of Each Product Category Over Time')
plt.show()

#### Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.
The program should do the following
* Prompt the user to enter the file path of the CSV file containing the student dataR
* Read the CSV file into a Pandas DataFrameR
* Calculate the mean, median, and mode of the test scores using Pandas toolsR
* Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
* Student ID: The ID of the studentR
* Test Score: The score of the student's test.

Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [ ]:
import pandas as pd
file_path = input("Enter the file path of the CSV file: ")
# Read CSV file into DataFrame
df = pd.read_csv(file_path)
# Calculate statistics
mean = df['Test Score'].mean()
median = df['Test Score'].median()
mode = df['Test Score'].mode()
# Display results in a table
result = pd.DataFrame({'Statistic':['Mean','Median','Mode'],'Value':[mean, median,', '.join(map(str, mode))]})
print(result)