# Feature Engineering-4

#### Q1. What is data encoding? How is it useful in data science?

Data encoding is the process of converting categorical or text-based data into a numerical format that can be used by machine learning algorithms. It's useful in data science because many machine learning algorithms require numerical input, and encoding allows us to represent categorical information in a way that algorithms can understand.

#### Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.

Nominal encoding, also known as label encoding, assigns a unique integer to each category of a categorical variable. For example, if you have a "Color" variable with categories "Red," "Blue," and "Green," you can encode them as 0, 1, and 2. This encoding is useful when there is no inherent order or ranking between categories.

#### Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.

Nominal encoding is preferred over one-hot encoding when there is no natural order or ranking between categories, and the number of unique categories is relatively large. For example, in a scenario where you have a dataset of different countries, you can use nominal encoding to assign unique integers to each country.

#### Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding technique would you use to transform this data into a format suitable for machine learning algorithms? Explain why you made this choice.

If you have a dataset containing categorical data with 5 unique values, you can use nominal encoding to transform this data. Since there are no natural order or ranking between the categories, nominal encoding would assign unique integers to each category.

#### Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to transform the categorical data, how many new columns would be created? Show your calculations.

If you use nominal encoding to transform two categorical columns in a dataset with 1000 rows, each new column created for nominal encoding will contribute a single new feature for each unique category in the original column. So, if you have 5 unique values in a column, you would create 5 new columns. In total, you would create 5 new columns for each of the two categorical columns, resulting in 10 new columns.

#### Q6. You are working with a dataset containing information about different types of animals, including their species, habitat, and diet. Which encoding technique would you use to transform the categorical data into a format suitable for machine learning algorithms? Justify your answer.

For transforming categorical data about different types of animals, including their species, habitat, and diet, you would use one-hot encoding. One-hot encoding creates binary columns for each unique category, indicating the presence or absence of that category. This is suitable for machine learning algorithms as it avoids creating a false ordinal relationship between categories.

#### Q7.You are working on a project that involves predicting customer churn for a telecommunications company. You have a dataset with 5 features, including the customer's gender, age, contract type, monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical data into numerical data? Provide a step-by-step explanation of how you would implement the encoding.

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
# Sample dataset
data = pd.DataFrame({
    'gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
    'contract_type': ['Monthly', 'Yearly', 'Monthly', 'Bi Yearly', 'Yearly'],
    'monthly_charges': [50.0, 65.0, 45.0, 70.0, 55.0],
    'tenure': [12, 24, 6, 36, 18]
})
#1. Select categorical columns
categorical_columns = ['gender', 'contract_type']
#2. Initialize OneHotEncoder
encoder = OneHotEncoder()
#3. Fit and transform the categorical columns
encoded_data = encoder.fit_transform(data[categorical_columns]).toarray()
#4. Get the feature names for the new columns
encoded_columns = encoder.get_feature_names_out(categorical_columns)
#5. Create a DataFrame with the encoded data and columns
encoded_df = pd.DataFrame(encoded_data, columns=encoded_columns)
#6. Concatenate the encoded DataFrame with the original numerical columns
final_data = pd.concat([data.drop(categorical_columns, axis=1), encoded_df], axis=1)
#7. Display the final encoded data
final_data.head()

,monthly_charges,tenure,gender_Female,gender_Male,contract_type_Bi Yearly,contract_type_Monthly,contract_type_Yearly
0,50.0,12,0.0,1.0,0.0,1.0,0.0
1,65.0,24,1.0,0.0,0.0,0.0,1.0
2,45.0,6,0.0,1.0,0.0,1.0,0.0
3,70.0,36,1.0,0.0,1.0,0.0,0.0
4,55.0,18,0.0,1.0,0.0,0.0,1.0